.Rproj.user
.Rhistory
.RData
.Ruserdata
Bunch_Lab2_Model.txt
Bunch_Plot3.png
Bunch_lab1.txt
Bunch_plot1.pdf
Bunch_plot2.png
Practice709.R
Rplot.pdf
eval-variables.txt
evals.rdata
gala.txt
m_gala.txt
mlb11.rdata
text
wells.txt
Bunch_Lab3_Plot1.png
Bunch_Lab3_Plot2.png
Bunch_m_gala.txt
