.Rproj.user
.Rhistory
.RData
.Ruserdata
Bunch_Lab2_Model.txt
Bunch_Plot3.png
Bunch_lab1.txt
Bunch_plot1.pdf
Bunch_plot2.png
Practice709.R
Rplot.pdf
eval-variables.txt
evals.rdata
gala.txt
m_gala.txt
mlb11.rdata
text
wells.txt
Bunch_Lab3_Plot1.png
Bunch_Lab3_Plot2.png
Bunch_m_gala.txt
anosim.txt
birdhab.csv
byturtle.csv
permaova.txt
Bunch_Lab4_Plot1.png
Bunch_Lab4_Plot2.png
Bunch_Lab5_Plot1.png
Chick_Model.txt
Chick_Model_2.txt
chick_anova.txt
Bunch_Lab5_Table1.txt
Bunch_Lab5_Tab3.txt
Bunch_Lab5_Table2.txt
all-species-v6-reducedForGLMMs.csv
Bunch_Lab6_Plot1.png
Bunch_Lab7_Model1
Bunch_Lab7_Model1.txt
Bunch_Lab7_Model2.txt
Bunch_Lab7_Model3.txt
Bunch_Lab_5_Model1.txt
Bunch_Lab_6_Model1.txt
Bunch_Lab_6_table1.txt
Bunch_Lab_6_table2.txt
Bunch_Model_1
Bunch_Model_1.txt
Bunch_lab6_Plot2.png
beaver1_day346.csv
litter_size_relationship_plot_m3.png
